body{
    font-family: sans-serif;
    background:linear-gradient(90deg,#3877FF,#262525);
}
.top{
    display:flex;
}
.top .logo img{
    width:100%;
    height:auto;
    height:9rem;
    width:9rem;
}
.nav a{
    color:#fff;
    text-decoration: none;
    gap:5rem;
    margin-top:2.5rem;
    cursor: pointer;

}
.nav ul{
    display: flex;
    gap:5rem;
}
.nav{
    margin-left: 23rem;
}
.workwithus button{
    background: #ff3698;
    border-color: transparent;
    color:#fff;
    padding:.5rem;
    width:8rem;
    border-radius: 15rem;
    margin-left:8rem;
    margin-top:2.5rem;
    font-size:.9rem;
    cursor:pointer;
}
.middle{
    display:flex;
}
.container span{
    font-size: 3rem;
}
.container{
    margin-left:5rem;
    margin-top:7rem;
    color:#fff;
}
.btn{
    background: #ff3698;
    border-color: transparent;
    color:#fff;
    padding:1rem;
    width:8rem;
    border-radius: 15rem;
    margin-left: .2rem;
    cursor:pointer;
}
.mainimg img{
    height:auto;
    width:100%;
    margin-left:5rem;
    width:40rem;
    margin-top:1rem;
}
@media (max-width:380px){
    body{
        background:linear-gradient(-10deg,#3877FF,#262525);
    }
    .container{
        margin-left:.5rem;
        margin-top:.3rem;
        margin-right:2rem;
    }
    .top .logo img{
        width:100%;
        height:auto;
        height:7rem;
        width:7rem;
        margin-left:.2rem;
    }
    .container span{
        font-size: 1.4rem;
    }
    .middle{
        display:grid;
    }
    .nav ul{
        display: grid;
        gap:.1rem;
    }
    .nav{
        margin-left: 3.2rem;
        text-align: right;
    }
    .nav a{
        gap:.2rem;
        margin-top:1.5rem;
        font-size: .5rem;
    }
    .mainimg img{
        height:auto;
        width:100%;
        margin-left:.1rem;
        width:16.5rem;
        margin-right:2rem;
    }
    .container p{
        font-size: .7rem;
    }

}